<div class="container mt-4">
    <h2>{{resource.nome}}</h2>
    <pre>{{resource.descricao}}</pre>
    
    <div class="d-flex justify-content-between mt-4">
        {{#if (igual resource.usuarioId usuarioAtual.id) }}
        <a href="/cifra/{{resource.id}}/edit" class="btn btn-secondary">Editar</a>
        {{/if}}
        <a href="/" class="btn btn-primary">Voltar</a>
    </div>
</div>