<div class="container">
    <div class="d-flex justify-content-between my-3">
        <h1>Feed de Cifras</h1>
        {{#if usuario}}
        <a href="/cifra/create" class="btn btn-primary">Adicionar Cifra</a>
        {{else}}
        <a href="/usuario" class="btn btn-primary">Login</a>
        {{/if}}
    </div>

    <div class="list-group">
      {{#each resources}}
        <a href="/cifra/{{this.id}}" class="list-group-item list-group-item-action">{{this.nome}}</a>
      {{/each}}
    </div>
</div>